footer.footer
    ul.menu
        li.menu__item
            a(href="./index.html#top") TOP（ハッシュ付き）
        li.menu__item
            a(href="./sub.html#top") SUB（ハッシュ付き）
        li.menu__item
            a(href="https://google.com") google（外部リンク）
        li.menu__item
            a.no-barba(href="./index.html") TOP（.no-barba）
        li.menu__item
            a.pjax-link(href="./index.html") TOP（.pjax-link）
        li.menu__item
            a(href="./images/sample.png") リソース（png）
