//- サイト共通の変数を定義
//- 各ページでsetVariableブロックを使えば上書きできる
-
    var url = 'http://loacalhost:8000';

    var meta = {
        title: 'Barba.js',
        description: 'Barba.jsを使った画面遷移のテスト',
        keywords: 'Barba.js, SPA, 非同期'
    };

